<ul>
  <% images.each do |image| %>
    <li>
      <div>
        <%= render 'images/tag_list', image: image %>
      </div>
      <%= link_to image_tag(image.url, class: 'image-stream js-image-stream'), image_path(image) %>
    </li>
  <% end %>
</ul>
